body {
  height: 100vh;
  background: linear-gradient(135deg, #290c0c, #632b2b, #3e2424);
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.vidro-relogio {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  padding: 30px 50px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.18);
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center; 
}